@import "tailwindcss";

:root {
  --background: #500913;
  --foreground: #d4af37;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-raleway), sans-serif;
  --font-mono: var(--font-ebgaramond), serif;
  --font-marcellus: var(--font-marcellus), serif;
  --font-ebgaramond: var(--font-ebgaramond), serif;
  --font-raleway: var(--font-raleway), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), sans-serif;
}
